@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}
.gap {
  margin-top: 20px;
}
.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
.navbar-home {
  display: flex;
  gap: 20px;
}
.school {
  font-size: 32px;
  font-weight: 700;
  color: #111111;
  gap: 10px;
}
.home {
  font-size: 20px;
  font-weight: 700;
  color: #fea301;
}
.about {
  font-size: 20px;
  font-weight: 500;
  color: #01acfd;
}
.admi {
  font-size: 20px;
  font-weight: 500;
  color: #5d58ef;
}
.contact {
  font-size: 20px;
  font-weight: 600;
  background-color: #fea301;
  color: white;
  height: 50px;
  width: 190px;
  border: none;
  border-radius: 16px;
}
.icon {
  display: none;
}
.empo {
  font-size: 56px;
  font-weight: 700;
}
.color-empo {
  color: #fea301;
}
.color-towards {
  color: #01acfd;
}
.para {
  font-size: 20px;
  font-weight: 400;
  color: #111111;
}
.btn-enroll {
  height: 50px;
  width: 190px;
  font-size: 20px;
  font-weight: 700;
  background-color: #111111;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-img {
  background-image: url("../assets/bg.png");
}
.stand {
  text-align: center;
}
.card-div {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.card-1 {
  background-image: linear-gradient(#def5ff, #ffffff);
  padding: 20px;
  justify-items: center;
  border-radius: 10px;
}
.kinder {
  font-size: 24px;
  font-weight: 700;
  color: #202020;
}
.para-cum {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
  margin: 30px 0;
}
.btn-1 {
  font-size: 15px;
  font-weight: 700;
  color: #64c8ff;
  border: none;
}
.card-2 {
  padding: 20px;
  justify-items: center;
  background-image: linear-gradient(#fff4dc, #ffffff);
  border-radius: 10px;
}
.btn-2 {
  font-size: 15px;
  font-weight: 700;
  color: #f0aa00;
}
.card-3 {
  padding: 20px;
  justify-items: center;
  background-image: linear-gradient(#eee1ff, #ffffff);
  border-radius: 10px;
}
.btn-3 {
  font-size: 15px;
  font-weight: 700;
  color: #8700ff;
}
.our {
  font-size: 46px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 60px;
}
.backgraound-img {
  background-image: url(../assets/bg.png);
  align-items: center;
}
.sec-card-2 {
  display: flex;
  gap: 20px;
  background-image: linear-gradient(#ffffff, #fea301);
}
.kid {
  color: white;

  margin-top: 80px;
}
.fun {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-top: 60px;
}
.para-beautiful {
  font-size: 15px;
  font-weight: 500;
  color: #666666;
  line-height: 25px;
  margin-top: 20px;
}

.crd-all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 80px;
}
.card-fst {
  background-color: #ffffff;
}
.find {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  margin-top: 24px;
  padding-left: 40px;
}
.card-s {
  background-color: #ffffff;
}
.card-rd {
  background-color: #ffffff;
  border-radius: 5pxpx;
}
.our {
  font-size: 46px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 60px;
}
.section-main {
  background-image: url("../assets/bg.png");
  background-image: linear-gradient(#ffffff, #fea301);
  padding: 36px;
}
.kids {
  margin-top: 80px;
  background-color: white;
  border-radius: 10px;
}
.fun {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-top: 60px;
}
.para-beautiful {
  font-size: 15px;
  font-weight: 500;
  color: #666666;
  margin-top: 45px;
  line-height: 30px;
}
.div-fst-sec {
  display: flex;
  align-items: center;
  gap: 50px;
}
.div-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 33px;
}

.find {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
.bg-footer {
  background-color: #01acfd;
}
.div-logo {
  display: flex;
}

.border {
  border-radius: 10px;
}
.kidsedu {
  display: flex;
}
.about-school {
  text-align: center;
}
.about-middle {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 124px;
}
.div-left {
  margin-top: 124px;
}
.ulist {
  list-style: none;
  text-align: left;
  margin-top: 20px;
}
.ulist li {
  margin-top: 10px;
}
.list {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.btn-view {
  background-color: #111111;
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 190px;
  text-align: center;
  border-radius: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 520px;
}
.kid {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}

.para-pizza {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 35px;
}

.text-color {
  color: white;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
  margin-top: 30px;
}
/* .div-middle {
  text-align: center;
} */

@media screen and (max-width: 576px) {
  .navbar-home {
    display: none;
  }
  .school {
    display: none;
  }
  .btn-contact {
    display: none;
  }
  .icon {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .card-div {
    flex-direction: column;
  }
}
